body{
    /*position: relative;*/
    background-color: hwb(216 16% 46% / 0.678);
   /* display: flex;
    flex-direction: column;
    justify-content: center;*/
    background-image: url("../image/alex-rose-ccWJHxUeM7c-unsplash.jpg"); /* l'image de fond*/
    background-size: cover;
}
/*---------------------------------------------------------------*/
@font-face {
    font-family: racer; 
    src: url(../racer/Racer.ttf);
}
header{
    font-family: "racer";
   /* position: relative;*/
    /*display: flex;
    flex-direction: column;
    justify-content: center;*/
}
h1, h2{
    text-align: center;
}

header > h1{
    text-shadow: /* contour du titre sur les 4 directions*/
    2px 2px 0 #000,
    -2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000;
    color: rgb(90, 190, 190); /*Escape from Aurora*/
    font-size: 50px;
}
nav{
    font-family: "racer";
    position: sticky;
    top: 0px;
    background-color: rgb(34, 100, 161);
    margin-left: 8.95%; /* la border "rétrécis" un peu le nav donc pour match le main on diminue un peu la marge*/
    margin-right: 8.95%;
    border: 1px solid black; /* bord du nav pour faire ressortir*/
    display: flex;
    flex-direction: row;
    justify-content: center;
}
nav > div{
    display: flex;
    flex-direction: row;
    width: 22%; /* espace entre acceuil, actualites..*/
    justify-content: center;
       
}
nav  div  a{
    font-size: 30px;    
    height:40px;
    color:rgb(90, 190, 190);    
    text-shadow: black 0px 0px 2px; /* Pour faire ressortir les lettres avec une petite ombre noir*/
    text-decoration: none; /* pour pas souligner les menus*/
}
.Actu div a {
    display: none;
    position: absolute;
    left:0;
    
} /*le sous menu de Actu*/

/*---------------------------------------------------------------*/
main{

    margin-top: 1%;
    margin-left: 9%;
    margin-right: 9%;
}
main > div {
    height: 32%;
    background-color: rgb(82, 139, 161);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1%;
}
main > div > div.main {
    display: flex;
}
main > div > div#main2{
    flex-direction: row-reverse;
}

main > div > div > article{
    height: 100%;
    margin: 0% 1% 0% 1%;
}
main > div > div.main > article{
    width: 75%;
    margin: 0% 1% 0% 1%;
}

main .img{
    display: flex;
    justify-content: space-between;
}
img{
    height: 30%;
    width: 25%;
}
div.img > img{
    height: 30%;
    width: 30%;
}
/*---------------------------------------------------------------*/
footer{
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    background-color: rgb(87, 155, 201);
}
footer > p{
    width: 75%;
    margin: 0% 1%;
}