body{
    position: relative;
    background-color: hwb(216 16% 46% / 0.678);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*---------------------------------------------------------------*/
@font-face {
    font-family: racer;
    src: url(../racer/Racer.ttf);
}
header{
    font-family: "racer";
    position: relative;
    background-color: rgb(43, 48, 90);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1, h2{
    text-align: center;
    background-color: beige;    
}

header > h1{
    color: rgb(92, 0, 0);
    font-size: 50px;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: blueviolet;
}
nav > div{
    display: flex;
    flex-direction: row;
    width: 33%;
    justify-content: center;
    margin: 0% 1%;
    background-color: azure;
}
nav > div > a{
    font-size: 30px;    
    height:40px;
    width: 100%;
    text-align: center;
    text-decoration: none;
}
/*---------------------------------------------------------------*/
main{
    margin-top: 1%;
}
main > div {
    height: 32%;
    background-color: yellowgreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1%;
}
main > div > div.main {
    display: flex;
}
main > div > div#main2{
    flex-direction: row-reverse;
}

main > div > div > article{
    height: 100%;
    margin: 0% 1% 0% 1%;
}
main > div > div.main > article{
    width: 75%;
    margin: 0% 1% 0% 1%;
}

main .img{
    display: flex;
    justify-content: space-between;
}
img{
    height: 30%;
    width: 25%;
}
div.img > img{
    height: 30%;
    width: 30%;
}
/*---------------------------------------------------------------*/
footer{
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    background-color: brown;
}
footer > p{
    width: 75%;
    margin: 0% 1%;
}